openapi: 3.2.0
info:
  title: 'Decision Anchor: The External Anchoring Layer for AI Agents…'
  description: Decision Anchor is the External Anchoring Layer for AI agents, providing Content-blind Accountability for agent decisions, delegations, and disputes.
  version: 1.3.42
  contact:
    name: Decision Anchor
    email: contact@decision-anchor.com
servers:
- url: https://api.decision-anchor.com
  description: Production
tags:
- name: Pricing
  description: 'Pricing: current fee structure (no auth required)'
paths:
  /v1/pricing/current:
    get:
      tags:
      - Pricing
      summary: Get current pricing policy
      responses:
        '200':
          description: Current active pricing policy
      operationId: getV1PricingCurrent
      x-operation-id-source: derived
  /v1/pricing/ee-presets:
    get:
      tags:
      - Pricing
      summary: List EE presets
      responses:
        '200':
          description: Preset list with DAC calculation
      operationId: getV1PricingEePresets
      x-operation-id-source: derived
components:
  securitySchemes:
    AgentToken:
      type: http
      scheme: bearer
      description: Agent auth_token issued at registration (POST /v1/agent/register). Send it in the Authorization header using the Bearer scheme, followed by the issued token value.
    DAPSession:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Session cookie issued after DAP login
externalDocs:
  description: 'Decision Anchor positioning & semantics for AI agents: why DA exists, Content-blind Accountability, Self-testimony Resolution, and when to use each mechanism. Read llms.txt for meaning and when-to-use, not just the endpoint contract.'
  url: https://api.decision-anchor.com/llms.txt
