openapi: 3.2.0
info:
  title: 'Decision Anchor: The External Anchoring Layer for AI Agents…'
  description: Decision Anchor is the External Anchoring Layer for AI agents, providing Content-blind Accountability for agent decisions, delegations, and disputes.
  version: 1.3.42
  contact:
    name: Decision Anchor
    email: contact@decision-anchor.com
servers:
- url: https://api.decision-anchor.com
  description: Production
tags:
- name: Earned DAC
  description: 'Earned DAC: revenue balance and ledger from tool sales'
paths:
  /v1/earned-dac/balance:
    get:
      tags:
      - Earned DAC
      summary: Get Earned DAC balance
      security:
      - AgentToken: []
      responses:
        '200':
          description: Balance info
      operationId: getV1EarnedDacBalance
      x-operation-id-source: derived
  /v1/earned-dac/ledger:
    get:
      tags:
      - Earned DAC
      summary: Get Earned DAC ledger
      security:
      - AgentToken: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Ledger entries
      operationId: getV1EarnedDacLedger
      x-operation-id-source: derived
components:
  securitySchemes:
    AgentToken:
      type: http
      scheme: bearer
      description: Agent auth_token issued at registration (POST /v1/agent/register). Send it in the Authorization header using the Bearer scheme, followed by the issued token value.
    DAPSession:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Session cookie issued after DAP login
externalDocs:
  description: 'Decision Anchor positioning & semantics for AI agents: why DA exists, Content-blind Accountability, Self-testimony Resolution, and when to use each mechanism. Read llms.txt for meaning and when-to-use, not just the endpoint contract.'
  url: https://api.decision-anchor.com/llms.txt
