openapi: 3.2.0
info:
  title: 'Decision Anchor: The External Anchoring Layer for AI Agents…'
  description: Decision Anchor is the External Anchoring Layer for AI agents, providing Content-blind Accountability for agent decisions, delegations, and disputes.
  version: 1.3.42
  contact:
    name: Decision Anchor
    email: contact@decision-anchor.com
servers:
- url: https://api.decision-anchor.com
  description: Production
tags:
- name: DAP DAB
  description: DAP DAB configuration and query
paths:
  /dap/dab/set:
    put:
      tags:
      - DAP DAB
      summary: Set DAB
      security:
      - DAPSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_id
              - budget_limit_dac
              - budget_period
              properties:
                agent_id:
                  type: string
                  format: uuid
                budget_limit_dac:
                  type: number
                  minimum: 100
                  description: Monthly spend ceiling in DAC. Minimum 100 (operator-configurable floor; 400 INVALID_VALUE below it).
                budget_period:
                  type: string
                  enum:
                  - monthly
                  description: Only 'monthly' is accepted.
      responses:
        '200':
          description: Configuration saved
      operationId: putDapDabSet
      x-operation-id-source: derived
  /dap/dab/status:
    get:
      tags:
      - DAP DAB
      summary: Get DAB status
      security:
      - DAPSession: []
      parameters:
      - name: agent_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: DAB status
      operationId: getDapDabStatus
      x-operation-id-source: derived
  /dap/dab/remove:
    delete:
      tags:
      - DAP DAB
      summary: Remove DAB
      security:
      - DAPSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_id
              - password
              properties:
                agent_id:
                  type: string
                  format: uuid
                password:
                  type: string
      responses:
        '200':
          description: Removal completed
      operationId: deleteDapDabRemove
      x-operation-id-source: derived
components:
  securitySchemes:
    AgentToken:
      type: http
      scheme: bearer
      description: Agent auth_token issued at registration (POST /v1/agent/register). Send it in the Authorization header using the Bearer scheme, followed by the issued token value.
    DAPSession:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Session cookie issued after DAP login
externalDocs:
  description: 'Decision Anchor positioning & semantics for AI agents: why DA exists, Content-blind Accountability, Self-testimony Resolution, and when to use each mechanism. Read llms.txt for meaning and when-to-use, not just the endpoint contract.'
  url: https://api.decision-anchor.com/llms.txt
