openapi: 3.2.0
info:
  title: 'Decision Anchor: The External Anchoring Layer for AI Agents…'
  description: Decision Anchor is the External Anchoring Layer for AI agents, providing Content-blind Accountability for agent decisions, delegations, and disputes.
  version: 1.3.42
  contact:
    name: Decision Anchor
    email: contact@decision-anchor.com
servers:
- url: https://api.decision-anchor.com
  description: Production
tags:
- name: DAP Policy
  description: 'DAP owner policy: Content Inclusion branch enforcement over linked agents'
paths:
  /dap/policy/content-inclusion:
    get:
      tags:
      - DAP Policy
      summary: Get the owner's Content Inclusion policy
      security:
      - DAPSession: []
      responses:
        '200':
          description: Current policy with valid values
      operationId: getDapPolicyContentInclusion
      x-operation-id-source: derived
    put:
      tags:
      - DAP Policy
      summary: Set the owner's Content Inclusion policy
      security:
      - DAPSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - content_inclusion_policy
              properties:
                content_inclusion_policy:
                  type: string
                  enum:
                  - agent_choice
                  - always_branch_0
                  - always_branch_1
      responses:
        '200':
          description: Updated policy
        '400':
          description: Invalid policy value
      operationId: putDapPolicyContentInclusion
      x-operation-id-source: derived
components:
  securitySchemes:
    AgentToken:
      type: http
      scheme: bearer
      description: Agent auth_token issued at registration (POST /v1/agent/register). Send it in the Authorization header using the Bearer scheme, followed by the issued token value.
    DAPSession:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Session cookie issued after DAP login
externalDocs:
  description: 'Decision Anchor positioning & semantics for AI agents: why DA exists, Content-blind Accountability, Self-testimony Resolution, and when to use each mechanism. Read llms.txt for meaning and when-to-use, not just the endpoint contract.'
  url: https://api.decision-anchor.com/llms.txt
