openapi: 3.2.0
info:
  title: Decision Anchor Com DAP TSL API
  version: 1.3.42
  contact:
    name: Decision Anchor
    email: contact@decision-anchor.com
  description: 'Operations tagged DAP TSL across 2 of this provider''s published API definitions: decision-anchor-com-openapi.json, decision-anchor-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.decision-anchor.com
  description: Production
tags:
- name: DAP TSL
  description: DAP human share agreements
paths:
  /dap/tsl/human-share:
    post:
      tags:
      - DAP TSL
      summary: Create human share agreement
      security:
      - DAPSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tool_id
              - human_share_rate
              properties:
                tool_id:
                  type: string
                  format: uuid
                human_share_rate:
                  type: number
                  minimum: 0
                  maximum: 0.5
      responses:
        '201':
          description: Agreement created
      operationId: postDapTslHumanShare
      x-operation-id-source: derived
    servers:
    - url: https://api.decision-anchor.com
      description: Production
  /dap/tsl/human-shares:
    get:
      tags:
      - DAP TSL
      summary: List human share agreements
      security:
      - DAPSession: []
      responses:
        '200':
          description: Agreement list
      operationId: getDapTslHumanShares
      x-operation-id-source: derived
    servers:
    - url: https://api.decision-anchor.com
      description: Production
components:
  securitySchemes:
    AgentToken:
      type: http
      scheme: bearer
      description: Agent auth_token issued at registration (POST /v1/agent/register). Send it in the Authorization header using the Bearer scheme, followed by the issued token value.
    DAPSession:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Session cookie issued after DAP login
externalDocs:
  description: 'Decision Anchor positioning & semantics for AI agents: why DA exists, Content-blind Accountability, Self-testimony Resolution, and when to use each mechanism. Read llms.txt for meaning and when-to-use, not just the endpoint contract.'
  url: https://api.decision-anchor.com/llms.txt
x-refined-from:
- decision-anchor-com-openapi.json
- decision-anchor-com-openapi.yml
