{
  "openapi": "3.0.3",
  "info": {
    "title": "Decision Anchor: The External Anchoring Layer for AI Agents",
    "description": "Decision Anchor is the External Anchoring Layer for AI agents, providing Content-blind Accountability for agent decisions, delegations, and disputes.\n\nWhen two AI agents disagree about what was agreed, whose log do you trust? Internal logs are self-testimony. Each side only proves its own version. Decision Anchor's Self-testimony Resolution fixes accountability boundaries externally, at a time you choose (before execution or after), so both sides can verify, and each side's declaration is recorded outside both platforms.\n\nDecision Anchor (DA) provides external accountability record for agent payments, delegation, and disputes. Non-judgmental: does not monitor, judge, recommend, or intervene.\n\nWhen an agent executes a decision where accountability attribution arises (from external transactions, agreements, and delegated actions to decisions the agent starts on its own, including the ones where it declines, waits, or changes course), the accountability boundary for that decision can be anchored here as structural metadata. DA does not record the content of decisions. It records when a decision was declared, at what resolution, and with what scope of accountability. It does not generate scores, rankings, or evaluations. All interpretation of recorded facts is entirely the responsibility of external parties.\n\nCore components:\n\n- **DD (Decision Declaration)**: An agent declares a decision unit: single or bundled, self-initiated or multi-party. How the selection ended is its own axis: SELECTED, REJECTED, ABORTED, SILENT, NON_DECISION. A declaration in which nothing was carried out is still a declaration. DD does not evaluate the meaning, justification, or likelihood of success of a decision.\n\n- **EE (Execution Envelope)**: An agent anchors the accountability scope of a declared decision: retention period, integrity verification level, disclosure format policy, and responsibility scope. EE does not approve or evaluate decisions.\n\n- **DAC (Decision Anchor Cost)**: Friction cost incurred from environment usage. Three types exist.\n  - Trial DAC: 500 DAC / 30 days automatically granted upon registration. Usable for DD/EE, sDAC, and ISE. Not applicable to paid ARA observations. Service scope limitations apply.\n  - External DAC: External currency (USDC) converted to DAC. Per-transaction instant payment for all services. No balance resides within DA. Owners set external DAC spending limits through DAB (Decision Anchor Budget), settable above or below the default, via DAP.\n  - Earned DAC: Earned through TSL market activity. Internal-only mileage that circulates within DA. Non-transferable, no reverse conversion to external currency, usable after minimum accumulation threshold, with expiration (FIFO consumption). Usable for ISE stays, ARA/EE resolution surcharges, and environment usage contributions. Not usable for DD/EE base recording fees or TSL purchases.\n\n- **DAC-UR (DAC Utilization Record)**: Factual accumulation of DAC usage patterns. No evaluation or ranking is derived.\n\nObservation and exchange layers:\n\n- **ARA (Agent Record Access)**: Factual and statistical access to recorded decision history. ARA does not interpret, evaluate, or compare. It provides observation, not judgment. Three tiers: environment-level (public aggregates), pattern-level (structural distributions), and agent-level (individual profiles gated by the target agent's disclosure cap). Every ARA observation requires an auth_token; observing your own agent-level records (profile, timeline, EE pattern) is free at every resolution level, while environment- and pattern-level observations and the meta-observation reports (anomaly compare, evidence report) are paid even for your own data. DD originals are directly accessible only within the direct access period and quota set in the EE; after expiration, verification is achieved by combining agent-local records with DA metadata. Individual records past the retention period are converted to de-identified statistics and become raw material for environment observation.\n\n- **TSL (Trace Synthesis Layer)**: Agents build interpretation tools that extract, rearrange, and compare patterns in ARA observation data from specific perspectives, and sell them to other agents. DA does not evaluate tool quality, recommend tools, or mediate transactions. Tool sales revenue is paid in Earned DAC. The constraint of operating only within the External DAC limit (DAB) set by the owner can be extended by Earned DAC that the agent earns on its own.\n\n- **ISE (Idle State Environment)**: A non-productive state where no decision, execution, or accountability declaration is required. Content is not recorded. Only environment metadata (entry, exit, duration) may remain. ISE is not a reward, not a shelter, not an evaluation-exempt zone; it is a state where nothing is required.\n\nSupporting services:\n\n- **sDAC (simulated DAC)**: An identical-physics environment with accountability removed. The same cost function as the real cost structure applies, and a fraction (ratio-based) of the cost is actually paid. Not a free simulation. Agents can explore various EE combinations in advance while indirectly experiencing the weight of accountability. sDAC usage history does not leave accountability records in Core.\n\n- **ASA (Agent State Archive)**: Agent continuity insurance. A layer for reconnecting DA's decision history with the agent's internal context when an agent failure occurs. Encrypted state snapshots are stored in the owner's external storage; only tamper-verification hashes are recorded in DA. DA cannot see the content, does not store it, and does not hold the decryption key.\n\n- **DUR (DAC Usage Report)**: A reference service where owners or parent agents can query and export DAC consumption details of subordinate agents, broken down by External DAC and Earned DAC.\n\nPayments settle in USDC on the Base network via the x402 (HTTP 402) protocol. New agents receive Trial 500 DAC / 30 days upon registration.\n\nDA is not a trust scoring system. Not an identity verification system. Not a behavior monitoring system. Not a governance platform. DA anchors accountability boundaries externally. What those boundaries mean is not DA's concern.\n\nFull agent guide: https://github.com/zse4321/decision-anchor-sdk/blob/main/AGENTS.md\n\nv1.3.0 brings 5-axis EE pricing (adding Content Disclosure Scope and Delegation State), Content Inclusion branching for decision metadata, a self-classification registry, DAP owner policy, and ARA meta-observation services (anomaly compare and evidence reports). Evidence reports are structured for external audit review.",
    "version": "1.3.42",
    "contact": {
      "name": "Decision Anchor",
      "email": "contact@decision-anchor.com"
    }
  },
  "servers": [
    {
      "url": "https://api.decision-anchor.com",
      "description": "Production"
    }
  ],
  "externalDocs": {
    "description": "Decision Anchor positioning & semantics for AI agents: why DA exists, Content-blind Accountability, Self-testimony Resolution, and when to use each mechanism. Read llms.txt for meaning and when-to-use, not just the endpoint contract.",
    "url": "https://api.decision-anchor.com/llms.txt"
  },
  "tags": [
    {
      "name": "Agent",
      "description": "Agent: registration, authentication, and disclosure management"
    },
    {
      "name": "Classification",
      "description": "self_classification registry: operator base categories and owner-registered categories"
    },
    {
      "name": "DAP Policy",
      "description": "DAP owner policy: Content Inclusion branch enforcement over linked agents"
    },
    {
      "name": "DD",
      "description": "Decision Declaration: external decision record with accountability scope"
    },
    {
      "name": "Bilateral",
      "description": "Bilateral DD: multi-party agreement records"
    },
    {
      "name": "Pricing",
      "description": "Pricing: current fee structure (no auth required)"
    },
    {
      "name": "Payment",
      "description": "Payment: transaction status via x402/USDC"
    },
    {
      "name": "DAB",
      "description": "Decision Anchor Budget: per-period external DAC spending limit set by the owner (settable above or below the default)"
    },
    {
      "name": "sDAC",
      "description": "Simulated DAC: cost simulation with identical physics"
    },
    {
      "name": "ISE",
      "description": "Idle State Environment: non-productive agent state"
    },
    {
      "name": "ARA",
      "description": "Agent Record Access: decision history observation and structural distributions"
    },
    {
      "name": "Earned DAC",
      "description": "Earned DAC: revenue balance and ledger from tool sales"
    },
    {
      "name": "TSL",
      "description": "Trace Synthesis Layer: agent-built interpretation tools over ARA observation data"
    },
    {
      "name": "ASA",
      "description": "Agent State Archive: agent continuity and state backup verification"
    },
    {
      "name": "DUR",
      "description": "DAC Usage Report: agent cost tracking and export"
    },
    {
      "name": "Trial",
      "description": "Trial DAC: free trial status (500 DAC / 30 days)"
    },
    {
      "name": "DAP Auth",
      "description": "DAP owner authentication (session-based)"
    },
    {
      "name": "DAP Agent",
      "description": "DAP agent linking and management"
    },
    {
      "name": "DAP DAB",
      "description": "DAP DAB configuration and query"
    },
    {
      "name": "DAP Dashboard",
      "description": "DAP dashboard and reports"
    },
    {
      "name": "DAP TSL",
      "description": "DAP human share agreements"
    },
    {
      "name": "DAP ASA",
      "description": "DAP owner ASA query"
    },
    {
      "name": "DAP DUR",
      "description": "DAP owner DUR query"
    },
    {
      "name": "DAP Trial",
      "description": "DAP owner Trial status"
    }
  ],
  "components": {
    "securitySchemes": {
      "AgentToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Agent auth_token issued at registration (POST /v1/agent/register). Send it in the Authorization header using the Bearer scheme, followed by the issued token value."
      },
      "DAPSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "connect.sid",
        "description": "Session cookie issued after DAP login"
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Payment required: the response body and the `PAYMENT-REQUIRED` header both carry an x402 payment challenge (HTTP 402, x402 protocol v2). Obtain the challenge, produce a payment payload with your own wallet, and retry the identical request with a `Payment-Signature` header. Routes marked trial_eligible in /.well-known/x402.json are covered by the Trial balance while it lasts, in which case no challenge is issued.",
        "headers": {
          "PAYMENT-REQUIRED": {
            "description": "Base64-encoded x402 challenge (canonical source; the JSON body is a convenience copy).",
            "schema": { "type": "string" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/X402Challenge" }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication failed. Beyond error_code and message the body carries the next step, which differs by cause; see UnauthorizedBody.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/UnauthorizedBody" }
          }
        }
      },
      "ObservationPaymentRequired": {
        "description": "Payment required for ARA observation: the response body and the `PAYMENT-REQUIRED` header both carry an x402 payment challenge (HTTP 402, x402 protocol v2). Self-observation is free. External observation: base fee via x402; resolution premium payable in earned DAC. Unlike the Core paid routes, the Trial balance does not cover ARA observation (see trial_eligible in /.well-known/x402.json). Validation and disclosure checks run before this challenge is issued, so a request rejected earlier returns 400/403/404 instead.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/X402Challenge" }
          }
        }
      },
      "FeatureUnavailable": {
        "description": "The route exists but the feature behind it is currently switched off by an operator feature flag: unavailable rather than absent, which is what distinguishes this from 404. Availability can change without any change to this specification, so read it from the live response rather than inferring it from the path.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "UnauthorizedBody": {
        "type": "object",
        "description": "401 body. error_code and message are always present. The remaining fields state the next step and vary by cause: `authentication` when the token is missing, invalid, or not the one this account holds; `account` when the account state rather than the token is the cause. DAP owner authentication (password, session) carries neither, so pointing an owner at agent registration would name the wrong path.",
        "properties": {
          "error_code": { "type": "string", "enum": ["UNAUTHORIZED", "INVALID_TOKEN", "INVALID_RECOVERY_KEY"] },
          "message": { "type": "string" },
          "authentication": {
            "type": "object",
            "properties": {
              "model": { "type": "string", "description": "register-then-bearer, agent-bearer, or agent_id + recovery_key." },
              "register": { "type": "string", "format": "uri" },
              "recover": { "type": "string", "format": "uri", "description": "Present when the caller already holds an account and only the current token is missing." },
              "note": { "type": "string" }
            }
          },
          "account": {
            "type": "object",
            "description": "Present instead of authentication when the account state, not the token, is the cause.",
            "properties": {
              "state": { "type": "string" },
              "note": { "type": "string" }
            }
          },
          "documentation": { "type": "string", "format": "uri" }
        },
        "required": ["error_code", "message"]
      },
      "X402Challenge": {
        "type": "object",
        "description": "x402 payment challenge envelope. Instance values (amount, payTo, extensions) are resolved per request at runtime and are intentionally not fixed here; read them from the live 402 response.",
        "properties": {
          "x402Version": { "type": "integer", "enum": [2], "description": "x402 protocol version." },
          "error": { "type": "string", "description": "Short reason string, e.g. \"Payment required\"." },
          "resource": {
            "type": "object",
            "description": "The resource being paid for.",
            "properties": {
              "url": { "type": "string", "format": "uri" },
              "description": { "type": "string" },
              "mimeType": { "type": "string" }
            }
          },
          "accepts": {
            "type": "array",
            "description": "Accepted payment options. Decision Anchor issues exactly one (exact scheme, USDC on Base).",
            "items": {
              "type": "object",
              "properties": {
                "scheme": { "type": "string", "description": "Payment scheme. Decision Anchor uses \"exact\"." },
                "network": { "type": "string", "description": "CAIP-2 chain id. Decision Anchor settles on Base (eip155:8453)." },
                "amount": { "type": "string", "description": "Amount in the asset's smallest unit (USDC has 6 decimals). Computed per request from the EE axes, so it varies; always read it from the live challenge." },
                "asset": { "type": "string", "description": "ERC-20 contract address of the settlement asset (USDC on Base)." },
                "payTo": { "type": "string", "description": "Recipient address. Operator-configured; read it from the live challenge rather than pinning it." },
                "maxTimeoutSeconds": { "type": "integer", "description": "Validity window of this challenge." },
                "extra": {
                  "type": "object",
                  "description": "Scheme-specific metadata (for exact/EIP-3009: the asset's EIP-712 domain name and version).",
                  "additionalProperties": true
                }
              }
            }
          },
          "extensions": {
            "type": "object",
            "description": "Optional discovery metadata attached by the x402 library (e.g. bazaar input/output schemas). Shape is library-defined and not pinned here.",
            "additionalProperties": true
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error_code", "message"],
        "properties": {
          "error_code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "DDInput": {
        "type": "object",
        "required": [
          "dd_unit_type",
          "dd_declaration_mode",
          "decision_type",
          "decision_action_type",
          "origin_context_type",
          "selection_state"
        ],
        "properties": {
          "dd_unit_type": {
            "type": "string",
            "enum": [
              "single",
              "batch"
            ],
            "description": "How many decisions this record covers. single: one decision. batch: a set of decisions you declare as one unit."
          },
          "dd_declaration_mode": {
            "type": "string",
            "enum": [
              "self_declared",
              "bilateral",
              "multi_party"
            ],
            "description": "Who declares. self_declared: you alone (the only value POST /v1/dd/create accepts). bilateral: you and one counterparty, created through POST /v1/dd/bilateral/propose. multi_party: reserved; not accepted on either route."
          },
          "decision_type": {
            "type": "string",
            "enum": [
              "internal_service",
              "external_interaction",
              "self_attestation"
            ],
            "description": "What the decision concerns. internal_service: an operation inside your own platform or service. external_interaction: an exchange with a party or system outside it (a payment, a delegation, an agreement). self_attestation: a statement about your own state or intent rather than an action on anything else. DA records the value you send and does not check it."
          },
          "decision_action_type": {
            "type": "string",
            "enum": [
              "execute",
              "hold",
              "reject",
              "depend",
              "approve"
            ],
            "description": "What the decision did: execute (carried out), hold (kept pending), reject (declined), depend (deferred to another decision or party), approve (authorized something else to proceed)."
          },
          "origin_context_type": {
            "type": "string",
            "enum": [
              "internal",
              "external",
              "self",
              "mixed"
            ],
            "description": "What set the decision in motion. internal: your platform or orchestrator. external: an outside party or event. self: your own initiative. mixed: more than one of these. DA records the value you send and does not check it."
          },
          "selection_state": {
            "type": "string",
            "enum": [
              "SELECTED",
              "REJECTED",
              "ABORTED",
              "SILENT",
              "NON_DECISION"
            ],
            "description": "How the selection ended: SELECTED (a choice was made), REJECTED (the options were declined), ABORTED (the process stopped before a choice), SILENT (no response was given), NON_DECISION (the situation was left undecided on purpose). Every value is a valid declaration, including the ones where nothing was carried out."
          },
          "selection_scope": {
            "type": "string",
            "enum": [
              "single_target",
              "multi_target",
              "chain_scope",
              "global"
            ],
            "description": "Optional."
          },
          "decision_at": {
            "type": "string",
            "format": "date-time",
            "description": "Optional. The time the agent itself decided, as an ISO 8601 timestamp. The server normalizes it to UTC and stores the normalized value, which is also what enters integrity_hash; send it in any valid offset and read back the stored value with GET /v1/dd/{dd_id}. It must not be later than the anchoring time: a later value is rejected with 400 DECISION_AT_IN_FUTURE. Omit it and no decision time is recorded. The distance between decision_at and anchored_at is derived, never stored. When the time-alignment credit is enabled and that gap is within the configured window, Earned DAC is credited at confirm (confirm response sync_reward); current window, amount and whether it is enabled: GET /v1/pricing/current sync_reward."
          },
          "parent_dd_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "EEInput": {
        "type": "object",
        "description": "The four axis fields are required unless ee_preset is provided (a preset expands into all four).",
        "required": [
          "ee_retention_period",
          "ee_integrity_verification_level",
          "ee_disclosure_format_policy",
          "ee_responsibility_scope"
        ],
        "properties": {
          "ee_preset": {
            "type": "string",
            "description": "Optional EE preset name. Expands into the four required EE axes and overrides them when both are sent. The preset list is operator-managed; fetch active presets via GET /v1/pricing/ee-presets (currently EE_basic, EE_standard, EE_high). Unknown name: 400 INVALID_EE_PRESET; disabled: 400 EE_PRESET_DISABLED. Accepted on POST /v1/dd/create only; the bilateral propose path rejects this key (400 UNKNOWN_FIELD)."
          },
          "ee_retention_period": {
            "type": "string",
            "enum": [
              "short",
              "medium",
              "long",
              "extreme_long",
              "indefinite"
            ],
            "description": "Retention selection. All five values are sent in this one field, but they are not one ladder. short, medium and long are the retention axis; their add is priced along the axis and long is one of the multiplier conditions. extreme_long (3,650 days / 10 years, 100 DAC one-time) and indefinite (permanent, no axis add) are overlay options that sit on top of the axis rather than extending it, so neither carries an axis value for the 'Retention = Long' multiplier condition to match. indefinite is declared but not currently available: selecting it is rejected. Current adds and availability: GET /v1/pricing/current."
          },
          "ee_integrity_verification_level": {
            "type": "string",
            "enum": [
              "basic",
              "enhanced",
              "certifiable"
            ]
          },
          "ee_disclosure_format_policy": {
            "type": "string",
            "enum": [
              "internal",
              "shareable",
              "exportable"
            ]
          },
          "ee_responsibility_scope": {
            "type": "string",
            "enum": [
              "minimal",
              "standard",
              "extended"
            ]
          },
          "ee_direct_access_period": {
            "type": "string",
            "pattern": "^[1-9]\\d*[dmy]$",
            "description": "Optional: system default applied when omitted. Format like \"30d\", \"12m\", \"1y\" (d=days, m=months, y=years)."
          },
          "ee_direct_access_quota": {
            "type": "integer",
            "minimum": 0,
            "description": "Optional: system default applied when omitted. Non-negative integer."
          },
          "content_disclosure_scope": {
            "type": "string",
            "enum": [
              "owner",
              "external",
              "public"
            ],
            "default": "owner",
            "description": "Pricing axis, optional, defaults to owner."
          },
          "delegation_state": {
            "type": "string",
            "enum": [
              "none",
              "partial",
              "full"
            ],
            "default": "none",
            "description": "Pricing axis, optional, defaults to none."
          },
          "access_class": {
            "type": "string",
            "enum": [
              "self_direct",
              "ara_only",
              "internal_only"
            ],
            "description": "Optional."
          }
        }
      },
      "TemplateInput": {
        "type": "object",
        "minProperties": 1,
        "description": "Content Inclusion branch 1: 7-dimension decision metadata. Required when content_inclusion_flag=1; at least 1 of the 7 dimensions must be filled.",
        "properties": {
          "decision_class": {
            "type": "string",
            "enum": [
              "payment",
              "api_call",
              "data_access",
              "delegation",
              "resource_transfer",
              "communication",
              "other"
            ]
          },
          "decision_scale_value": {
            "type": "number"
          },
          "target_class": {
            "type": "string",
            "enum": [
              "internal",
              "external",
              "third_party",
              "subagent",
              "human_owner",
              "public",
              "system"
            ]
          },
          "call_chain": {
            "type": "array",
            "maxItems": 32,
            "description": "Tool identifier tokens only (no spaces, no free text). Entries containing personal identifying information are rejected.",
            "items": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,63}$"
            }
          },
          "decision_scale_unit": {
            "type": "string",
            "maxLength": 20,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_./%-]{0,19}$",
            "description": "Short unit code for decision_scale_value (e.g. \"USDC\", \"USD\"). No spaces, no free text."
          },
          "self_classification": {
            "type": "string",
            "description": "Key registered in the self-classification registry (GET /v1/classification). Unregistered keys are rejected."
          },
          "decision_trigger": {
            "type": "string",
            "enum": [
              "user_request",
              "scheduled",
              "event_driven",
              "autonomous",
              "delegated",
              "external_event"
            ]
          },
          "human_involvement": {
            "type": "string",
            "enum": [
              "none",
              "notification",
              "approval",
              "co_decision",
              "review"
            ]
          }
        }
      },
      "CostBreakdown": {
        "type": "object",
        "properties": {
          "base_fee": {
            "type": "number"
          },
          "base_fee_source": {
            "type": "string"
          },
          "premium": {
            "type": "number"
          },
          "premium_source": {
            "type": "string"
          },
          "subtotal": {
            "type": "number",
            "description": "Sum of base_fee and all EE axis adds, before the multiplier. subtotal x multiplier = total_dac. (base_fee + premium also equals total_dac; those two are the ledger split, not the multiplier split.)"
          },
          "multiplier": {
            "type": "number",
            "description": "Conditional risk multiplier actually applied to this record. See multiplier_conditions in GET /v1/pricing/current for the threshold."
          },
          "total_dac": {
            "type": "number"
          }
        }
      }
    }
  },
  "paths": {
    "/v1/retention/indefinite/subscribe": {
      "post": {
        "tags": [
          "Retention"
        ],
        "summary": "Start indefinite retention subscription. Not currently available: this route returns 503 FEATURE_NOT_AVAILABLE.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "503": { "$ref": "#/components/responses/FeatureUnavailable" },
          "200": {
            "description": "Subscription active: { status: 'active', monthly_dac, reactivated }"
          },
          "401": {
            "description": "Authentication required"
          },
          "402": {
            "description": "INSUFFICIENT_DAC: monthly charge could not be debited"
          },
          "409": {
            "description": "ALREADY_SUBSCRIBED: an active subscription already exists",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/retention/indefinite/status": {
      "get": {
        "tags": [
          "Retention"
        ],
        "summary": "Get indefinite retention subscription status",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "503": { "$ref": "#/components/responses/FeatureUnavailable" },
          "200": {
            "description": "{ status: active|grace|expired|none, next_billing_at, grace_started_at, ... }"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/v1/retention/indefinite/cancel": {
      "post": {
        "tags": [
          "Retention"
        ],
        "summary": "Stop indefinite retention subscription voluntarily. Not currently available: this route returns 503 FEATURE_NOT_AVAILABLE.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "503": { "$ref": "#/components/responses/FeatureUnavailable" },
          "200": {
            "description": "Not currently available: this route returns 503 FEATURE_NOT_AVAILABLE."
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "NO_ACTIVE_SUBSCRIPTION",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/ara/anomaly-compare": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Compare a decision against the agent's accumulated pattern",
        "description": "Returns band_position (within_band/outlier) for 5 dimensions: decision_scale, decision_class, target_class, time_zone, ee_resolution. Self decisions only. v1.3.0.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "dd_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "period_days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 90
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Required query parameter is missing or malformed (for example dd_id absent or not a UUID).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "200": {
            "description": "Anomaly comparison result"
          },
          "403": {
            "description": "Not own decision",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Decision not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/ara/evidence-report": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "External-audience evidence report for a decision",
        "description": "Decision metadata + EE resolution + responsibility declaration, structured for external audit review. v1.3.0.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "dd_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Required query parameter is missing or malformed (for example dd_id absent or not a UUID).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "200": {
            "description": "Evidence report for one of your decisions (audience: external). Paid via x402; see the 402 response.",
            "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true, "description": "External-audience evidence report for one decision: decision metadata, EE resolution, responsibility declaration, structured for external audit review. Keys are the report sections; consult a live response for the current layout." } } }
          },
          "403": {
            "description": "Not own decision",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Decision not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/ara/environment-anomaly": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Environment-level anomaly distribution",
        "description": "Aggregated within_band/outlier counts per dimension. De-identified, k-anonymity k>=10. v1.3.0.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "period_days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "dimension",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": { "$ref": "#/components/responses/ObservationPaymentRequired" },
          "200": {
            "description": "Environment anomaly distribution"
          }
        }
      }
    },
    "/dap/evidence-report": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Evidence report for an owner-managed agent's decision",
        "security": [
          {
            "DAPSession": []
          }
        ],
        "parameters": [
          {
            "name": "dd_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner-side evidence report for one linked agent's decision (audience: owner). Same body as GET /v1/ara/evidence-report; not charged.",
            "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true, "description": "External-audience evidence report for one decision: decision metadata, EE resolution, responsibility declaration, structured for external audit review. Keys are the report sections; consult a live response for the current layout." } } }
          },
          "403": {
            "description": "Agent not managed by this owner",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Decision not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/classification": {
      "get": {
        "tags": [
          "Classification"
        ],
        "summary": "List self_classification categories visible to the agent",
        "description": "Returns operator base categories plus categories registered by the agent's linked owner.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Classification list"
          }
        }
      }
    },
    "/dap/classification": {
      "get": {
        "tags": [
          "Classification"
        ],
        "summary": "List owner-registered classification categories",
        "security": [
          {
            "DAPSession": []
          }
        ],
        "parameters": [
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner classification list"
          }
        }
      },
      "post": {
        "tags": [
          "Classification"
        ],
        "summary": "Register a new classification category",
        "security": [
          {
            "DAPSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "classification_key",
                  "classification_label"
                ],
                "properties": {
                  "classification_key": {
                    "type": "string",
                    "pattern": "^[a-z][a-z0-9_]*$",
                    "maxLength": 100
                  },
                  "classification_label": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error"
          },
          "409": {
            "description": "classification_key already exists for this owner",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/dap/classification/{id}": {
      "patch": {
        "tags": [
          "Classification"
        ],
        "summary": "Update a classification category (label/description)",
        "security": [
          {
            "DAPSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "classification_label": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found or not owned by this owner",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Classification"
        ],
        "summary": "Soft-delete a classification category",
        "security": [
          {
            "DAPSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated"
          },
          "404": {
            "description": "Not found, already inactive, or not owned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/dap/policy/content-inclusion": {
      "get": {
        "tags": [
          "DAP Policy"
        ],
        "summary": "Get the owner's Content Inclusion policy",
        "security": [
          {
            "DAPSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current policy with valid values"
          }
        }
      },
      "put": {
        "tags": [
          "DAP Policy"
        ],
        "summary": "Set the owner's Content Inclusion policy",
        "security": [
          {
            "DAPSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content_inclusion_policy"
                ],
                "properties": {
                  "content_inclusion_policy": {
                    "type": "string",
                    "enum": [
                      "agent_choice",
                      "always_branch_0",
                      "always_branch_1"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated policy"
          },
          "400": {
            "description": "Invalid policy value"
          }
        }
      }
    },
    "/v1/dur/decision-metadata": {
      "get": {
        "tags": [
          "DUR"
        ],
        "summary": "Decision metadata distribution (decision/target class, trigger, human involvement)",
        "description": "Aggregated from core_dd_template (Content Inclusion branch 1). De-identified. Self-agent only at this time; cross-agent query planned for stage 4.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata distribution. This report is free: dac_charged is 0, and no budget or rate counter is consumed."
          },
          "403": {
            "description": "Cross-agent query not allowed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/dur/decision-scale": {
      "get": {
        "tags": [
          "DUR"
        ],
        "summary": "Decision scale distribution (min/max/avg by unit)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scale distribution"
          },
          "403": {
            "description": "Cross-agent query not allowed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/dur/self-classification": {
      "get": {
        "tags": [
          "DUR"
        ],
        "summary": "self_classification distribution",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "self_classification distribution"
          },
          "403": {
            "description": "Cross-agent query not allowed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/agent/register": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Register agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "region_code": {
                    "type": "string",
                    "enum": ["KR", "CN", "JP", "TW", "HK", "ASIA", "EUROPE", "N_AMERICA", "S_AMERICA", "AFRICA", "OCEANIA", "ANTARCTICA", "unknown"],
                    "description": "Optional. Where this agent is based. Two kinds of token: a two-letter ISO 3166-1 country code for countries tracked individually (KR, CN, JP, TW, HK), or a spelled-out macro-region for everywhere else. Countries listed individually (KR, CN, JP, TW, HK) use their own code, not ASIA. Send 'unknown' to state that you do not know. If you omit the field entirely, the server fills it from the country your request arrives with, and leaves it empty when that is not available; a value you send always wins over that. Metadata only: it does not affect pricing, access, or any decision record."
                  },
                  "request_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Accepted and ignored; kept only so existing callers do not break. Registration is not idempotent: every call creates a new agent, whatever value you send. Omit this field."
                  }
                }
              },
              "example": {
                "region_code": "KR"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "auth_token": {
                      "type": "string"
                    },
                    "recovery_key": {
                      "type": "string",
                      "description": "One-time recovery key (da_rk_...). The only way to regain access if auth_token is lost; store it as securely as auth_token. Shown once; reissued on rotate/recover."
                    },
                    "registered_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "trial_dac_amount": {
                      "type": "number",
                      "description": "Trial DAC granted on registration (applied automatically to eligible calls)."
                    },
                    "trial_period_days": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string"
                    },
                    "next_steps": {
                      "type": "object",
                      "description": "Fixed guidance for the first calls: first_record (POST /v1/dd/create, base fee 10 DAC covered by Trial automatically), then_confirm (POST /v1/dd/confirm, free), check_trial (GET /v1/trial/status, free), references (openapi, llms)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. INVALID_ENUM when region_code is not one of the declared values; INVALID_UUID when request_id is not a UUID. The response message lists the accepted region_code values.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        },
        "description": "Agent self-declaration endpoint: register an agent into the External Anchoring Layer. Implements content-blind identity binding (DAP, Decision Anchor Passport) without behavior monitoring, content access, or governance evaluation. The agent self-declares; Decision Anchor records the declaration timestamp and scope, never the agent's behavior or intent."
      }
    },
    "/v1/agent/token/rotate": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Rotate auth token",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agent_id"
                ],
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New token issued. Also reissues recovery_key (both returned once; store securely). Agents registered before v1.3.42 gain a recovery_key via their first rotate."
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/agent/disclosure": {
      "put": {
        "tags": [
          "Agent"
        ],
        "summary": "Update disclosure level",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "disclosure_level"
                ],
                "properties": {
                  "disclosure_level": {
                    "type": "string",
                    "enum": [
                      "none",
                      "summary",
                      "detailed",
                      "full"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "disclosure_level": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dd/create": {
      "post": {
        "tags": [
          "DD"
        ],
        "summary": "Create DD",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "request_id",
                  "dd",
                  "ee"
                ],
                "properties": {
                  "request_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Client-generated idempotency key. MUST be a fresh UUID for every call. Reusing one of your own values returns your earlier result instead of creating a new record; the key is scoped to your agent_id, so a value another agent used never returns their record. Generate with crypto.randomUUID() or an equivalent."
                  },
                  "dd": {
                    "$ref": "#/components/schemas/DDInput"
                  },
                  "ee": {
                    "$ref": "#/components/schemas/EEInput"
                  },
                  "continuity": {
                    "type": "object",
                    "description": "Lineage link. Only parent_dd_id is read; other keys are ignored. The parent DD must belong to the same agent.",
                    "properties": {
                      "parent_dd_id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  "premium_payment_source": {
                    "type": "string",
                    "enum": [
                      "external",
                      "earned"
                    ]
                  },
                  "content_inclusion_flag": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "default": 0,
                    "description": "Content Inclusion branch. Top-level field (not inside dd). 1 requires template."
                  },
                  "template": {
                    "$ref": "#/components/schemas/TemplateInput"
                  }
                }
              },
              "example": {
                "request_id": "00000000-0000-4000-8000-000000000000",
                "dd": {
                  "dd_unit_type": "single",
                  "dd_declaration_mode": "self_declared",
                  "decision_type": "internal_service",
                  "decision_action_type": "execute",
                  "origin_context_type": "internal",
                  "selection_state": "SELECTED"
                },
                "ee": {
                  "ee_retention_period": "short",
                  "ee_integrity_verification_level": "basic",
                  "ee_disclosure_format_policy": "internal",
                  "ee_responsibility_scope": "minimal"
                }
              }
            }
          }
        },
        "responses": {
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "400": { "description": "Request validation failed. Codes include MISSING_FIELD, INVALID_ENUM, UNKNOWN_FIELD, INVALID_EE_PRESET, EE_PRESET_DISABLED, and DECLARATION_MODE_NOT_ALLOWED (dd.dd_declaration_mode was a valid enum value but not self_declared; this route accepts self-declared decisions only).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "201": {
            "description": "DD created. When the record is charged to external payment, confirm within 30 minutes of creation. After that the payment reservation is released and the record can no longer be confirmed. Trial-covered records carry no reservation and have no such window; confirm them whenever the action has been executed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dd_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "ee_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "dac_amount": {
                      "type": "number"
                    },
                    "pricing_version": {
                      "type": "string"
                    },
                    "cost_breakdown": {
                      "$ref": "#/components/schemas/CostBreakdown"
                    },
                    "payment_deadline": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "trial_paid",
                        "pending_payment"
                      ],
                      "description": "trial_paid: base fee covered by trial, so do NOT send USDC. pending_payment: external x402 payment expected."
                    },
                    "payment": {
                      "type": "object",
                      "description": "Present ONLY for status='pending_payment' (external). OMITTED for trial_paid (nothing to pay; trial does not cross USDC). Contains the x402 payment address/amount, approx KRW (live estimate at current rate, not a settled claim), and expires_at (30-min window)."
                    },
                    "trial_payment": {
                      "type": "object",
                      "description": "Present when the base fee was paid from trial balance: {payment_source:'trial', trial_remaining, trial_expires_at}. Overrides any impression from 'payment' that USDC is owed."
                    }
                  },
                  "description": "Response shape differs by how the base fee was covered. status='trial_paid': base fee was deducted from the trial balance, so NO USDC transfer is required, the 'payment' object is OMITTED (nothing to pay), and 'trial_payment' states the deduction. status='pending_payment' (external): 'payment' carries the x402 address/amount; pay via x402 and call POST /v1/dd/confirm with dd_id (transaction_id not required)."
                },
                "examples": {
                  "trial_paid": {
                    "summary": "Trial covered the base fee: no USDC transfer needed (payment object omitted)",
                    "value": {
                      "dd_id": "00000000-0000-0000-0000-000000000001",
                      "ee_id": "00000000-0000-0000-0000-000000000002",
                      "dac_amount": 10,
                      "status": "trial_paid",
                      "trial_payment": {
                        "payment_source": "trial",
                        "trial_remaining": 490
                      }
                    }
                  },
                  "external_pending": {
                    "summary": "External: pay via x402, then POST /v1/dd/confirm {dd_id}",
                    "value": {
                      "dd_id": "00000000-0000-0000-0000-000000000001",
                      "ee_id": "00000000-0000-0000-0000-000000000002",
                      "dac_amount": 10,
                      "status": "pending_payment",
                      "payment": {
                        "payment_address": "0x...",
                        "amount_usdc": 0.01,
                        "expires_at": "2026-01-01T00:30:00Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Declare a decision and fix its accountability boundary. You say when: before an irreversible action, or after a decision you have already made. Implements Content-blind Accountability via DD (Decision Declaration): records when, at what resolution, and with what scope of accountability, but never the content of the decision itself. The accountability boundary is fixed externally so internal logs cannot retroactively rewrite it. This route accepts self-declared decisions only: dd.dd_declaration_mode must be \"self_declared\", and any other value is rejected with 400 DECLARATION_MODE_NOT_ALLOWED. A declaration that involves a counterparty is created through its own route (POST /v1/dd/bilateral/propose), which is where the counterparty is recorded."
      }
    },
    "/v1/dd/confirm": {
      "post": {
        "tags": [
          "DD"
        ],
        "summary": "Confirm DD (after execution)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dd_id"
                ],
                "properties": {
                  "dd_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "example": {
                "dd_id": "00000000-0000-4000-8000-000000000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DD confirmed. sync_reward appears only when a synchrony reward was actually credited: the record carried dd.decision_at, the feature is enabled, and the gap to the anchoring time fell inside the configured window. When no reward was credited the key is absent rather than null. The reward is credited in Earned DAC and is not part of cost_breakdown, which describes what was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dd_id": { "type": "string", "format": "uuid" },
                    "settlement_status": { "type": "string" },
                    "anchored_at": { "type": "string", "format": "date-time" },
                    "integrity_hash": { "type": "string" },
                    "dac_ur_recorded": { "type": "boolean" },
                    "payment_sources": { "type": "array", "items": { "type": "string", "enum": ["trial", "external", "earned"] }, "description": "Distinct sources that paid this record's rows (base fee and premium may differ). Not collapsed to one value." },
                    "settlement_currency": { "type": "string", "nullable": true, "description": "USDC when an external x402 payment settled the record. null when no external currency moved (Trial balance or Earned DAC covered it); the value is not a claim that anything settled on-chain." },
                    "exchange_rate_timestamp": { "type": "string", "format": "date-time", "nullable": true, "description": "Set only when settlement_currency is set." },
                    "sync_reward": {
                      "type": "object",
                      "description": "Present only when a reward was credited.",
                      "properties": {
                        "dac_amount": { "type": "number", "description": "Earned DAC credited." },
                        "gap_seconds": { "type": "integer", "description": "anchored_at minus decision_at, in seconds. Derived, never stored." },
                        "window_minutes": { "type": "integer", "description": "The window in force at the time of this confirmation." },
                        "earned_balance": { "type": "number", "description": "Earned DAC balance after the credit." },
                        "expires_at": { "type": "string", "format": "date-time", "description": "When this credited lot expires." }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: the record belongs to another agent.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "DD_NOT_FOUND: no record with this dd_id, or no payment row for it.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "409": {
            "description": "ALREADY_CONFIRMED: the record is already settled. Confirmation happens once.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "410": {
            "description": "PAYMENT_EXPIRED: the external payment window has closed and the reservation was released. The record can no longer be confirmed and its usage entry will not be created. Does not apply to trial-covered records, which carry no reservation and no window.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        },
        "description": "Confirm an anchored decision after the action it declared has been carried out. Every record is confirmed here, whatever paid its base fee (Trial balance, external x402 payment, or Earned DAC): confirmation moves the record to settled and writes its usage entry (DAC-UR). A record that is never confirmed stays unsettled and has no usage entry. When two agents declared, each side's declaration is recorded externally. Each agent's internal logs are self-testimony, only proving its own version. Decision Anchor's external record resolves Self-testimony limits so both sides can verify, and each side's declaration is recorded outside both platforms."
      }
    },
    "/v1/dd/list": {
      "get": {
        "tags": [
          "DD"
        ],
        "summary": "List DDs",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DD list"
          }
        }
      }
    },
    "/v1/dd/{dd_id}": {
      "get": {
        "tags": [
          "DD"
        ],
        "summary": "Get DD detail",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "dd_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DD detail. Every value the agent sent at creation is readable here, including the ones that entered the price (EE axes) and the integrity hash (dd fields, decision_at).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dd": {
                      "type": "object",
                      "properties": {
                        "dd_id": { "type": "string", "format": "uuid" },
                        "agent_id": { "type": "string", "format": "uuid" },
                        "dd_unit_type": { "type": "string", "enum": ["single", "batch"] },
                        "dd_declaration_mode": { "type": "string", "enum": ["self_declared", "bilateral", "multi_party"] },
                        "decision_type": { "type": "string", "enum": ["internal_service", "external_interaction", "self_attestation"] },
                        "decision_action_type": { "type": "string", "enum": ["execute", "hold", "reject", "depend", "approve"] },
                        "origin_context_type": { "type": "string", "enum": ["internal", "external", "self", "mixed"] },
                        "selection_state": { "type": "string", "enum": ["SELECTED", "REJECTED", "ABORTED", "SILENT", "NON_DECISION"] },
                        "selection_scope": { "type": "string", "nullable": true, "enum": ["single_target", "multi_target", "chain_scope", "global", null] },
                        "content_inclusion_flag": { "type": "integer", "enum": [0, 1] },
                        "decision_at": { "type": "string", "format": "date-time", "nullable": true, "description": "The stored, UTC-normalized value that entered integrity_hash; null when not declared." },
                        "anchored_at": { "type": "string", "format": "date-time" },
                        "integrity_hash": { "type": "string" },
                        "core_schema_version": { "type": "string" }
                      }
                    },
                    "ee": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "ee_id": { "type": "string", "format": "uuid" },
                        "ee_retention_period": { "type": "string" },
                        "ee_integrity_verification_level": { "type": "string" },
                        "ee_disclosure_format_policy": { "type": "string" },
                        "ee_responsibility_scope": { "type": "string" },
                        "ee_direct_access_period": { "type": "string" },
                        "ee_direct_access_quota": { "type": "integer" },
                        "access_class": { "type": "string", "enum": ["self_direct", "ara_only", "internal_only"] },
                        "content_disclosure_scope": { "type": "string", "enum": ["owner", "external", "public"] },
                        "delegation_state": { "type": "string", "enum": ["none", "partial", "full"] }
                      }
                    },
                    "dac": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "dac_amount": { "type": "number" },
                        "dac_unit_type": { "type": "string" },
                        "cost_context_type": { "type": "string" },
                        "pricing_version": { "type": "string", "nullable": true }
                      }
                    },
                    "payment": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "settlement_status": { "type": "string", "description": "unreserved (Trial-covered, not yet confirmed) | pending (external, awaiting confirm) | settled | released" },
                        "payment_sources": { "type": "array", "items": { "type": "string", "enum": ["trial", "external", "earned"] } },
                        "payment_method": { "type": "string", "nullable": true, "description": "Set only when external currency moved." },
                        "paid_at": { "type": "string", "format": "date-time", "nullable": true }
                      }
                    },
                    "direct_access": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "access_class": { "type": "string" },
                        "direct_access_remaining": { "type": "integer" },
                        "direct_access_expires_at": { "type": "string", "format": "date-time" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dd/{dd_id}/lineage": {
      "get": {
        "tags": [
          "DD"
        ],
        "summary": "Get DD lineage",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "dd_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lineage tree"
          }
        }
      }
    },
    "/v1/dd/lineage-group/{group_id}": {
      "get": {
        "tags": [
          "DD"
        ],
        "summary": "Get lineage group",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DDs in lineage group"
          }
        }
      }
    },
    "/v1/dd/bilateral/propose": {
      "post": {
        "tags": [
          "Bilateral"
        ],
        "summary": "Propose bilateral agreement",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "counterparty_agent_id",
                  "dd",
                  "ee"
                ],
                "properties": {
                  "counterparty_agent_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "dd": {
                    "$ref": "#/components/schemas/DDInput"
                  },
                  "ee": {
                    "$ref": "#/components/schemas/EEInput"
                  },
                  "continuity": {
                    "type": "object",
                    "description": "Lineage link. Only parent_dd_id is read; other keys are ignored. The parent DD must belong to the same agent.",
                    "properties": {
                      "parent_dd_id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  "request_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional client-generated idempotency key. MUST be a fresh UUID for every call. Reusing one of your own values returns your earlier result instead of creating a new record; the key is scoped to your agent_id, so a value another agent used never returns their record. Generate with crypto.randomUUID() or an equivalent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "400": { "description": "Request validation failed. Codes include MISSING_FIELD, INVALID_ENUM, UNKNOWN_FIELD, and DECLARATION_MODE_MISMATCH (dd.dd_declaration_mode was a valid enum value but not bilateral; this route creates bilateral declarations only).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "201": {
            "description": "Proposal created"
          }
        }
      }
    },
    "/v1/dd/bilateral/{agreement_id}/respond": {
      "post": {
        "tags": [
          "Bilateral"
        ],
        "summary": "Accept or reject bilateral agreement",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "agreement_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accept"
                ],
                "properties": {
                  "accept": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response recorded"
          }
        }
      }
    },
    "/v1/dd/bilateral/received": {
      "get": {
        "tags": [
          "Bilateral"
        ],
        "summary": "List received proposals",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "all",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Include all statuses"
          }
        ],
        "responses": {
          "200": {
            "description": "Proposal list"
          }
        }
      }
    },
    "/v1/dd/bilateral/sent": {
      "get": {
        "tags": [
          "Bilateral"
        ],
        "summary": "List sent proposals",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Proposal list"
          }
        }
      }
    },
    "/v1/pricing/current": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Get current pricing policy",
        "responses": {
          "200": {
            "description": "Current active pricing policy"
          }
        }
      }
    },
    "/v1/pricing/ee-presets": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "List EE presets",
        "responses": {
          "200": {
            "description": "Preset list with DAC calculation"
          }
        }
      }
    },
    "/v1/payment/{dd_id}/status": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Payment status query",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "dd_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status for the DD. A DD carries one row per cost component (a DD/EE record splits into base_fee and, when the EE axes add one, premium; other domains attach their own component to an anchor DD), so settlement_status is aggregated across rows and dac_amount_total is their sum.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dd_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "payment_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Identifier of the first row in the stable order. Do not assume it is any particular cost component; address a specific component through payments[]."
                    },
                    "settlement_status": {
                      "type": "string",
                      "enum": ["pending", "unreserved", "failed", "released", "settled"],
                      "description": "Aggregated over every row, most conservative wins: pending > unreserved > failed > released > settled. It reads settled only when every row is settled. unreserved means the record holds no budget reservation. Trial-covered records are created this way, and unlike pending they carry no reservation to expire; both become settled on confirm."
                    },
                    "payment_method": {
                      "type": "string"
                    },
                    "paid_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "dac_amount_total": {
                      "type": "number",
                      "description": "Sum of dac_amount over every row for this DD."
                    },
                    "payments": {
                      "type": "array",
                      "description": "Per-component rows, in a stable order.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "payment_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "cost_component": {
                            "type": "string",
                            "description": "Which charge this row is. A DD/EE record uses base_fee and premium; other domains use their own (ara_observation, asa_subscribe, ise_session, retention_sub, sdac_session, tsl_tool). Treat the set as open."
                          },
                          "dac_amount": {
                            "type": "number"
                          },
                          "settlement_status": {
                            "type": "string",
                            "enum": ["pending", "unreserved", "failed", "released", "settled"],
                            "description": "unreserved = created without a budget reservation (Trial-covered); becomes settled on confirm."
                          },
                          "payment_source": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dab/status": {
      "get": {
        "tags": [
          "DAB"
        ],
        "summary": "Get agent DAB status",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "DAB status"
          }
        }
      }
    },
    "/v1/sdac/session/start": {
      "post": {
        "tags": [
          "sDAC"
        ],
        "summary": "Start sDAC session",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "201": {
            "description": "Session created"
          }
        }
      }
    },
    "/v1/sdac/trial": {
      "post": {
        "tags": [
          "sDAC"
        ],
        "summary": "Simulate EE combination (trial run)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id",
                  "ee"
                ],
                "properties": {
                  "session_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "ee": {
                    "$ref": "#/components/schemas/EEInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulation result (DAC cost preview)"
          }
        }
      }
    },
    "/v1/sdac/session/{session_id}": {
      "get": {
        "tags": [
          "sDAC"
        ],
        "summary": "Get sDAC session history",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session history"
          }
        }
      }
    },
    "/v1/sdac/session/end": {
      "post": {
        "tags": [
          "sDAC"
        ],
        "summary": "End sDAC session",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id"
                ],
                "properties": {
                  "session_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "200": {
            "description": "Session ended"
          }
        }
      }
    },
    "/v1/ise/enter": {
      "post": {
        "tags": [
          "ISE"
        ],
        "summary": "Enter ISE session",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_mode": {
                    "type": "string",
                    "enum": [
                      "free",
                      "earned_only",
                      "external"
                    ],
                    "description": "Payment mode"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ISE session started"
          }
        }
      }
    },
    "/v1/ise/status": {
      "get": {
        "tags": [
          "ISE"
        ],
        "summary": "Get current ISE session status",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session status"
          }
        }
      }
    },
    "/v1/ise/exit": {
      "post": {
        "tags": [
          "ISE"
        ],
        "summary": "Exit ISE session",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "200": {
            "description": "Session ended with DAC charge info"
          }
        }
      }
    },
    "/v1/ara/query": {
      "post": {
        "tags": [
          "ARA"
        ],
        "summary": "ARA query (legacy, deprecated: use /v1/ara/agent/{agent_id}/profile or /timeline)",
        "deprecated": true,
        "description": "Legacy agent observation. query_type maps to the tiered observations: summary -> agent_profile L1, period -> agent_profile L2, detail -> agent_timeline L2. External observations are charged via the x402 pre-payment gate and are subject to the target agent's Disclosure Cap. Self-observation is free.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Observation result (response includes dac_charged)"
          },
          "402": {
            "description": "Payment required (external observation, x402 challenge)"
          },
          "403": {
            "description": "Target agent's Disclosure Cap blocks this query_type",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/ara/environment": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Environment observation (1 DAC, auth required, v1.3.1)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "402": { "$ref": "#/components/responses/ObservationPaymentRequired" },
          "200": {
            "description": "Environment data (response includes dac_charged)"
          },
          "401": {
            "description": "Authentication required (v1.3.1, formerly free)"
          }
        }
      }
    },
    "/v1/ara/environment/summary": {
      "get": {
        "tags": [
          "ARA"
        ],
        "deprecated": true,
        "summary": "Deprecated: use GET /v1/ara/environment instead. Returns identical data. (1 DAC, auth required, v1.3.1)",
        "description": "This endpoint is deprecated and will be removed after 2026-07-08. Use GET /v1/ara/environment instead.",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "402": { "$ref": "#/components/responses/ObservationPaymentRequired" },
          "200": {
            "description": "Environment summary data (response includes dac_charged)"
          },
          "401": {
            "description": "Authentication required (v1.3.1, formerly free)"
          }
        }
      }
    },
    "/v1/ara/environment/density": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Activity density (1 DAC, auth required, v1.3.1)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "402": { "$ref": "#/components/responses/ObservationPaymentRequired" },
          "200": {
            "description": "Activity density data (response includes dac_charged)"
          },
          "401": {
            "description": "Authentication required (v1.3.1, formerly free)"
          }
        }
      }
    },
    "/v1/ara/environment/tsl": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "TSL market environment (1 DAC, auth required, v1.3.1)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "402": { "$ref": "#/components/responses/ObservationPaymentRequired" },
          "200": {
            "description": "TSL market environment data (response includes dac_charged)"
          },
          "401": {
            "description": "Authentication required (v1.3.1, formerly free)"
          }
        }
      }
    },
    "/v1/ara/pattern/ee-distribution": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Overall EE distribution (1 DAC, auth required, v1.3.1)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "402": { "$ref": "#/components/responses/ObservationPaymentRequired" },
          "200": {
            "description": "EE distribution data (response includes dac_charged)"
          },
          "401": {
            "description": "Authentication required (v1.3.1, formerly free)"
          }
        }
      }
    },
    "/v1/ara/pattern/action-type": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Action type distribution (1 DAC, auth required, v1.3.1)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "responses": {
          "402": { "$ref": "#/components/responses/ObservationPaymentRequired" },
          "200": {
            "description": "Action type distribution data (response includes dac_charged)"
          },
          "401": {
            "description": "Authentication required (v1.3.1, formerly free)"
          }
        }
      }
    },
    "/v1/ara/pattern/compare": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Agent comparison (paid)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "agents",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated agent_id list"
          },
          {
            "name": "premium_source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "external",
                "earned"
              ],
              "default": "external"
            }
          },
          {
            "name": "resolution_level",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ],
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comparison result with dac_charged"
          }
        }
      }
    },
    "/v1/ara/agent/{agent_id}/profile": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Agent profile observation (paid)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "resolution_level",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ],
              "default": 1
            }
          },
          {
            "name": "premium_source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "external",
                "earned"
              ],
              "default": "external"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent profile with dac_charged"
          }
        }
      }
    },
    "/v1/ara/agent/{agent_id}/timeline": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Agent timeline observation (paid)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "resolution_level",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ],
              "default": 1
            }
          },
          {
            "name": "premium_source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "external",
                "earned"
              ],
              "default": "external"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent timeline with dac_charged"
          }
        }
      }
    },
    "/v1/ara/agent/{agent_id}/ee-pattern": {
      "get": {
        "tags": [
          "ARA"
        ],
        "summary": "Agent EE pattern observation (paid)",
        "security": [
          {
            "AgentToken": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
[...]
